# General
.DS_Store

# Editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist/demo.html
dist/odh-tourism-detail.js
dist/odh-tourism-detail.js.map
dist/odh-tourism-detail.min.js.map
